{{ template "header.tmpl" .}}

<div class="row justify-content-between">
  <div class="col-sm-3">
      <h2>Attendees</h2>
  </div>
  <div class="col-sm-2">
    <a class="btn btn-danger" href="/attendees/reload"><i class="fa fa-refresh" aria-hidden="true"></i></a>
    <a class="btn btn-success" href="/attendees/download"><i class="fa fa-download" aria-hidden="true"></i></a>
  </div>
</div>
<div class="row">
    <table class="table">
      <thead>
        <th>ID</th>
        <th>OrderID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>Sku</th>
      </thead>
    {{range .attendees}}
    <tr>
        <td><a href="/attendee/{{.ID}}">{{.ID}}</a></td>  
        <td>{{.OrderID}}</td>
        <td>{{.Firstname}}</td>
        <td>{{.Lastname}}</td>
        <td>{{.Phone}}</td>
        <td>{{.Sku}}</td>
    </tr>
    {{end}}
  </table>
</div>

{{ template "footer.tmpl" .}}