{{ template "header.tmpl" .}}

<div class="row alert alert-success" role="alert">{{.message}}
    <div class="col-sm-5">Attendee Total {{.attendeeTotal}}</div>
    <div class="col-sm-5">Order Total ({{.orderCount}}): ฿{{.orderTotal}} </div>
    <div class="col-sm-2">
      <a class="btn btn-primary" href="/reload_data"><i class="fa fa-refresh" aria-hidden="true"></i></a>
      <a class="btn btn-success" href="/orders/download"><i class="fa fa-download" aria-hidden="true"></i></a>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
      <h2>Order Payment</h2>
    </div>
    <div class="col-sm-3">
      <a class="btn btn-primary" href="/order_payments/reload"><i class="fa fa-refresh" aria-hidden="true"></i></a>
      <a class="btn btn-success" href="/order_payments/download"><i class="fa fa-download" aria-hidden="true"></i></a>
    </div>
</div>
<div class="row">
    <table class="table">
      <thead>
        <th>OrderID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>OrderTotal</th>
        <th>PaymentDateTime</th>
        <th>PaymentType</th>
      </thead>
    {{range .orderPayments}}
    <tr>
        <td><a href="/order/{{.OrderID}}">{{.OrderID}}</a></td>
        <td>{{.Firstname}}</td>
        <td>{{.Lastname}}</td>
        <td>{{.Phone}}</td>
        <td>{{.OrderTotal}}</td>
        <td>{{.PaymentDateTime}}</td>
        <td>{{.PaymentType}}</td>
    </tr>
    {{end}}
  </table>
</div>

<div class="row">
  <div class="col-sm-3">
      <h2><a href="/attendees">Attendees</a></h2>
  </div>
  <div class="col-sm-3">
      <a class="btn btn-primary" href="/attendees/reload"><i class="fa fa-refresh" aria-hidden="true"></i></a>
      <a class="btn btn-success" href="/attendees/download"><i class="fa fa-download" aria-hidden="true"></i></a>
    </div>
</div>
<div class="row">
    <table class="table">
      <thead>
        <th>ID</th>
        <th>OrderID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Birthday</th>
        <th>Sku</th>
      </thead>
    {{range .attendees}}
    <tr>
      <td><a href="/attendee/{{.ID}}">{{.ID}}</a></td> 
        <td>{{.OrderID}}</td>
        <td>{{.Firstname}}</td>
        <td>{{.Lastname}}</td>
        <td>{{.Phone}}</td>
        <td>{{.Gender}}</td>
        <td>{{.Birthday}}</td>
        <td>{{.Sku}}</td>
    </tr>
    {{end}}
  </table>
</div>

<div class="row">
  <div class="col-sm-3">
      <h2>Shirt Size</h2>
  </div>
  <div class="col-sm-3">
    <a class="btn btn-success" href="/shirtsizes/download"><i class="fa fa-download" aria-hidden="true"></i></a>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <th>ShirtSize</th>
      <th>Stock</th>
      <th>Amount</th>
      <th>StockLeft</th>
    </thead>
  {{range .skus}}
  <tr>
      <td>{{.ShirtSize}}</td>
      <td>{{.Stock}}</td>
      <td>{{.Amount}}</td>
      <td>{{.StockLeft}}</td>
  </tr>
  {{end}}
</table>
</div>

<div class="row">
  <table class="table">
    <thead>
      <th>ShirtSize</th>
      <th>Amount</th>
    </thead>
  {{range .shirtSizes}}
  <tr>
      <td>{{.ShirtSize}}</td>
      <td>{{.Amount}}</td>
  </tr>
  {{end}}
</table>
</div>
{{ template "footer.tmpl" .}}