{{ template "header.tmpl" .}}

<div class="row justify-content-between">
  <div class="col-sm-4">
      <h2>Order Payment</h2>
  </div>
  <div class="col-sm-2">
      <a class="btn btn-danger" href="/order_payments/reload"><i class="fa fa-refresh" aria-hidden="true"></i></a>
      <a class="btn btn-success" href="/order_payments/download"><i class="fa fa-download" aria-hidden="true"></i></a>
    </div>
</div>
<div class="row">
    <table class="table">
      <thead>
        <th>OrderID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>OrderTotal</th>
        <th>PaymentDateTime</th>
        <th>PaymentType</th>
        <th>PaymentAmount</th>
      </thead>
    {{range .orderPayments}}
    <tr>
        <td><a href="/order/{{.OrderID}}">{{.OrderID}}</a></td>
        <td>{{.Firstname}}</td>
        <td>{{.Lastname}}</td>
        <td>{{.Phone}}</td>
        <td>{{.OrderTotal}}</td>
        <td>{{.PaymentDateTime}}</td>
        <td>{{.PaymentType}}</td>
        <td>{{.PaymentAmount}}</td>
    </tr>
    {{end}}
  </table>
</div>

{{ template "footer.tmpl" .}}